.about-us-container {
    width: 1000px;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    text-align: justify;
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }

.about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}
